body {
    background-color: #1D4221;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Usando min-height para garantir que o conteúdo não seja cortado e que o body preencha a tela */
    min-height: 100vh; 
    margin: 0;
}

button {
    background-color: #64A712;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4c8a0f;
}

.passo {
    display: none;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3); /* Fundo semi-transparente para o conteúdo */
    border-radius: 10px;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
    width: 600px; /* Limite a largura para melhor leitura */
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}
